.journal__main-content {
  display: flex;
  background-color: $primary-blue;
  color: #fff;
  min-height: 100vh;
}

.journal__sidebar {
  display: flex;
  flex-direction: column;
  background-color: $secondary-blue;
  max-height: 100vh;
  min-height: 100vh;
  width: 500px;
  padding: 20px 25px;
}

.journal__sidebar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.journal__sidebar-nav-name {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin: 0;
}

.journal__sidebar-nav-name span {
  margin-left: 10px;
}

.journal__sidebar-logout-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  transition: color 0.2s ease;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.journal__new-entry {
  background: transparent;
  text-align: center;
  margin-top: 30px;
  transition: transform 0.3s ease-out;
  color: #fff;
}

.journal__new-entry p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
  transition: color ease 0.2s;
}

.journal__new-entry:hover,
.journal__sidebar-logout-btn:hover {
  color: $medium-color;
}

.journal__entries {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: scroll;
}

/* Tamaño del scroll */
.journal__entries::-webkit-scrollbar {
  display: none;
}

.journal__entry {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 75px;
  width: 100%;
  display: flex;
  overflow: hidden;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.journal__entry:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.journal__entry-picture {
  max-height: 100%;
  min-width: 60px;
  max-width: 60px;
}

.journal__entry-body {
  padding: 5px 0 5px 10px;
}

.journal__entry-title {
  font-size: 14px;
  margin: 3px 0 5px;
  font-weight: 800;
}

.journal__entry-content {
  font-size: 12px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: darken($color: #fff, $amount: 30);
}

.journal__entry-date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  max-width: 80px;
  min-width: 80px;
}

.journal__entry-date-box span {
  display: block;
  font-size: 14px;
}

.journal__entry-date-box h4 {
  margin: 0;
}
